[tool.poetry]
name = "fdk-rdf-parser"
version = "2.0.2"
description = ""
authors = ["NilsOveTen <nils.ove.tendenes@digdir.no>"]

[tool.poetry.dependencies]
python = "^3.8"
rdflib = "^6.0.2"
isodate = "^0.6.0"
requests = "^2.23.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0.1"
coverage = {extras = ["toml"], version = "^6.3.1"}
pytest-cov = "^3.0.0"
black = "^22.1.0"
flake8 = "^4.0.1"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.4"
flake8-bugbear = "^22.1.11"
flake8-import-order = "^0.18.1"
pep8-naming = "^0.12.1"
safety = "^1.8.7"
pytest-mock = "^3.7.0"
codecov = "^2.1.12"
flake8-annotations = "^2.7.0"
mypy = "^0.931"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["fdk_rdf_parser"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
