[tool.poetry]
name = "fdk-rdf-parser"
version = "1.2.0"
description = ""
authors = ["NilsOveTen <nils.ove.tendenes@digdir.no>"]

[tool.poetry.dependencies]
python = "^3.8"
rdflib = "^6.0.0"
isodate = "^0.6.0"
requests = "^2.23.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.3"
coverage = {extras = ["toml"], version = "^5.5"}
pytest-cov = "^2.12.1"
black = "^21.7b0"
flake8 = "^3.9.2"
flake8-bandit = "^2.1.2"
flake8-black = "^0.2.3"
flake8-bugbear = "^21.4.3"
flake8-import-order = "^0.18.1"
pep8-naming = "^0.12.1"
safety = "^1.8.7"
pytest-mock = "^3.6.1"
codecov = "^2.1.12"
flake8-annotations = "^2.6.2"
mypy = "^0.910"

[tool.coverage.paths]
source = ["src"]

[tool.coverage.run]
branch = true
source = ["fdk_rdf_parser"]

[tool.coverage.report]
show_missing = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
